

.a{
	padding: 0px;
}

.b{

	padding: 5px;
	
}



.c{
		background-color: yellow;
	padding: 20px;

}

.d{
	padding: 0px;

}

.e{
	padding: 5px;
	}

.f{
	background-color: green;
	padding: 20px;
}

.g{
	padding: 0px;
}

.h{
	padding: 5px;
}

.i{
 background-color: blue;
padding: 20px;

}

.j{
	padding: 0px;
}

.k{
	padding: 5px;
}

.l{
	background-color: red;
	padding: 20px;
}

.m{
	padding: 0px;
}

.n{
	padding: 5px;
}

.o{
	padding: 20px;
	background-color: yellow;
}

.p{
	padding: 0px;
}

.q{
	padding: 5px;
}

.r{
	padding: 20px;
	background-color: black;
}

.s{
	padding: 0px;
	

}

.t{
	padding: 5px;
}

.u{
	padding: 20px;
	background-color: darkred;
	
}

.v{
	padding: 0px;
}

.w{
	padding:5px ;
}

.x{
	padding: 40px;
	background-color: green;
	border-radius: 9px;
}

.y{
	padding: 0px;
}

.z{
	padding: 5px;
}

.a1{
	padding: 35px;
	background-color: burlywood;
	border-radius: 9px;
}


.a2{
	padding: 0px;

}


.a3{
	padding: 5px;

}


.a4{
	padding: 200px;
	background-color: rebeccapurple;
	border-radius: 9px;
}



.a5{
	padding: 5px;
}

.a6{
	background-color: grey;
	padding: 80px;
	border-radius: 9px;
}

.a7{
	padding: 5px;
}

.a8{
	padding: 55px;
	background-color: blue;
	border-radius: 9px;
}

.a9{
	padding: 0px;

}

.a10{
	padding: 5px;

	
}

.a11{
	padding: 30px;
	background-color: orange;
}

.a12{
	padding: 5px;
}

.a13{
	padding: 20px;
	background-color: yellow;
	height: 170px;
}

.a14{
	padding: 0px;

}


.a15{
	padding: 5px;
}

.a16{
	padding: 100px;
	background-color: rebeccapurple;
	top: -110px;
}



.a17{
	padding: 5px;
}

.a18{
	padding: 49px;
	background-color: red;
	top: -110px;
}

.a19{
	padding: 0px;
}

.a20{
	padding: 5px;
}

.a21{
	padding: 46px;
	background-color: lightblue;
	top: -211px;
}

.a22{
	padding: 5px;
}

.a23{
	padding: 80px;
	background-color: blue;
	top: -211px;
}

.a24{
	padding: 5px;
}

.a25{
	padding: 80px;
	background-color: hotpink;
	top: -211px;
}



.a26{
	padding: 0px;
}

.a27{
	padding: 5px;

	
}

.a28{
	padding: 29px;
background-color: red;
width: 480px;
top: -280px;
}



.a29{
	padding: 0px;
}

.a30{
	padding: 5px;

	
}

.a31{
	padding: 30px;
background-color: orange;
top: -280px;


}
